.list-card-labels {
    overflow: visible !important;
}
.card-label.mod-card-front {
    height: 20px !important;
    text-shadow: none;
    overflow: visible;
    color: transparent;
    line-height: 0;
}
.card-label.mod-card-front:before {
    content: attr(title);
    position: absolute;
    left: 10%;
    top: 0;
    color: #ffffff;
    font-size: 10px;
    z-index: 100;
    display: inline;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    height: 100%;
    text-shadow: none !important;
    vertical-align: top;
    text-indent: 0;
    width: 85%;
    line-height: 20px;
    text-overflow: ellipsis;
}
.card-label.mod-card-front:after {
    content: attr(title);
    position: absolute;
    top: 24px;
    background: #999999;
    color: white;
    font-weight: normal;
    left: 0;
    line-height: 24px;
    z-index: 500;
    padding: 0px 6px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    font-size: 14px;
    transition: all .2s ease;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
.card-label.mod-card-front:hover:after{
    transform: translateY(0%);
    opacity: 1;
}
.card-label.mod-card-front[title^="CEN"] {
    background: #174690;
}
.card-label.mod-card-front[title^="CAR"] {
    background: #7aa72d;
}
