.list-card-labels {
    overflow: visible !important;
}

.card-label.card-label-red.mod-card-front {
    font-style: italic;
    text-transform: lowercase;
}

.card-label.mod-card-front {
    height: 20px !important;
    text-shadow: none;
    overflow: visible;
    color: transparent;
    line-height: 0;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-label.mod-card-front:before {
    content: attr(title);
    position: absolute;
    left: 10%;
    top: 0;
    color: #ffffff;
    font-size: 10px;
    z-index: 100;
    display: inline;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    height: 100%;
    text-shadow: none !important;
    vertical-align: top;
    text-indent: 0;
    width: 80%;
    line-height: 20px;
    text-overflow: ellipsis;
}
.card-label.mod-card-front:after {
    content: attr(title);
    position: absolute;
    top: 24px;
    background: #999999;
    color: white;
    font-weight: normal;
    left: 0;
    line-height: 24px;
    z-index: 500;
    padding: 0px 6px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    font-size: 14px;
    transition: all .2s ease;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
.card-label.mod-card-front:hover:after{
    transform: translateY(0%);
    opacity: 1;
}

.card-label-pink.mod-card-front[title^="CEN"] {
    background-color: #65a1ff;
}
.card-label-pink.mod-card-front[title^="CAR"] {
    background-color: #7aa72d;
}
.card-label-pink.mod-card-front[title^="BBC"] {
    background-color: #edaa1c;
}
.card-label-pink.mod-card-front[title^="CTS"] {
    background-color: #bf2c37;
}
.card-label-pink.mod-card-front[title^="DOE"] {
    background-color: #d14df8;
}
.card-label-pink.mod-card-front[title^="IND"] {
    background-color: #e3daca;
}
.card-label-pink.mod-card-front[title^="LGE"] {
    background-color: #009E48;
}
.card-label-pink.mod-card-front[title^="GALLOP"] {
    background-color: #ea862d;
}
.card-label-pink.mod-card-front[title^="MAIN"] {
    background-color: #99dff7;
}


.card-label-black.mod-card-front[title^="CEN"]:before {
    box-shadow: 0 -3px 0px #65a1ff inset;
}
.card-label-black.mod-card-front[title^="CAR"]:before {
    box-shadow: 0 -3px 0px #7aa72d inset;
}
.card-label-black.mod-card-front[title^="BBC"]:before {
    box-shadow: 0 -3px 0px #edaa1c inset;
}
.card-label-black.mod-card-front[title^="CTS"]:before {
    box-shadow: 0 -3px 0px #bf2c37 inset;
}
.card-label-black.mod-card-front[title^="DOE"]:before {
    box-shadow: 0 -3px 0px #d14df8 inset;
}
.card-label-black.mod-card-front[title^="IND"]:before {
    box-shadow: 0 -3px 0px #e3daca inset;
}
.card-label-black.mod-card-front[title^="LGE"]:before {
    box-shadow: 0 -3px 0px #009E48 inset;
}
.card-label-black.mod-card-front[title^="GALLOP"]:before {
    box-shadow: 0 -3px 0px #ea862d inset;
}
.card-label-black.mod-card-front[title^="MAIN"]:before {
    box-shadow: 0 -3px 0px #99dff7 inset;
}
